.olives {
	left: 635px;
	top: -120px;
}

.oregano {
	top: -170px;
	left: 1170px;
}

.background-muka {
	left: 1050px;
	top: 250px;
}

.cucumber {
	position: absolute;
	z-index: 2;
	left: 1170px;
	top: 200px;
	transform: scale(-1, 1);
}