.kontent-catalog {
	width: 1300px;
	margin: 0px auto;
}

.catalogue {
	margin: 60px 0px 40px 55px;
	float: none;
}

.contact-wrap {
	background: #232222;
	position: relative;
}

.catalog-left {
	padding: 70px 0px 0px 135px;
}

.catalog-left h1 {
	font-size: 36px;
	letter-spacing: 14px;
	padding-bottom: 27px;
	position: relative;
}

.catalog-left h1::after {
	content: "";
	background: #FCB800;
	width: 25.5%;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.k_info {
	margin: 40px 0px 0px 30px;
}

.k_s_h {
	font-size: 16px;
	color: #FCB800;
	letter-spacing: 1.3px;
}

.k_s_i {
	padding-top: 10px;
}

.k_s_i a {
	padding-right: 12px;
}

.k_params {
	padding-top: 66px;
	padding-bottom: 38px;
}

.k_item {
	padding-bottom: 28px;
}

.k_item_left {
	float: left;
	padding-right: 18px;
	text-align: center;
	width: 34px;
}
.item_name {
	font-size: 16px;
	color: #FCB800;
}

.item_value {
	font-size: 12px;
}

.katalog-right {
	position: absolute;
	top: 0;
	right: 0;
}

.k_bottom {
	padding-top: 90px;
}

.item_bottom {
	padding-top: 25px;
	padding-bottom: 50px;
}

.image-address-left {
	padding-right: 20px;
}
