.orange-band {
	width: 1155px;
	-ms-margin-bottom: 20px;
	-ms-margin-top: 60px;
	border-bottom: 2px solid #FCB800;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 60px;
}

.orange-band h2 {
	line-height: 0px;

}

.anotherDrinks {
	-ms-margin-top: 80px;
	margin-top: 80px;
}

.olives {
	left: 230px;

	top: -200px;
}
