@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Sarabun');
* {
	-ms-margin: 0;
	margin: 0;
	-ms-padding: 0px 35px;
	padding: 0;
}

body {
	background: url(../img/background.jpg) no-repeat center center;
	-ms-background: url(../img/background.jpg) no-repeat center center;
	-moz-background: url(../img/background.jpg) no-repeat center center;
	font-size: 18px;
	font-family: 'Sarabun', sans-serif;
	color: white;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

/* Шапка */
header {
	-ms-padding-top: 10px;
	padding-top: 10px;
	min-height: 135px;
	position: relative;
	margin-bottom: 50px;
}

.logo {
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -62px;
}

.phone {
	letter-spacing: 1px;
	float: left;
	-moz-float: left;
	-ms-float: left;
	-ms-padding: 31px 0px 0px 0px;
	padding: 31px 0px 0px 0px;
}


.phone-number {
	color: #FCB800;
	text-decoration: none;
	-ms-text-decoration: none;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
	-o-text-decoration: none;
	font-size: 22px;
}

.phone-number:hover {
	text-decoration: underline;
	-ms-text-decoration: underline;
	-moz-text-decoration: underline;
	-webkit-text-decoration: underline;
	-o-text-decoration: underline;
}

.phone-text {
	font-size: 15px;
	-ms-padding: 5px;
	padding: 5px;
	color: white;
	text-decoration: none;
	-ms-text-decoration: none;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
	-o-text-decoration: none;
	transition: color .4s;
}

.phone-text:hover {
	color: #FCB800;
}

.worktime {
	font-size: 15px;
	-moz-float: left;
	-ms-float: left;
	float: left; 
	-ms-padding: 30px 0px 0px 50px;
	padding: 30px 0px 0px 50px;
	margin-top: 5px;
	margin-left: 5px;
	letter-spacing: 1px;
}

.worktime div span {
	color: #FCB800;
	font-size: 22px;
}

.account {
	-moz-float: right;
	-ms-float: right;
	float: right;
	-ms-padding: 36px 0px 0px 0px;
	padding: 36px 0px 0px 0px;
	margin-left: 50px;
	-ms-display: flex;
	display: flex;
	font-size: 15px;
	line-height: 24px;
}

.shop {
	-moz-float: right;
	-ms-float: right;
	float: right;
	-ms-padding: 18px 0px 0px 0px;
	padding: 18px 0px 0px 0px;
	font-size: 15px;
}

.shop div:first-of-type {
	-ms-margin-top: 10px;
	-ms-margin-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.shop div span {
	color: #FCB800;
	font-size: 20px;
}

.shop img, .account img {
	-moz-float: left;
	-ms-float: left;
	float: left;
}

.upperpanel {
	text-align: center;
	width: 1300px;
	-ms-margin: 0px auto;
	margin: 0px auto;
}


.lowerpannel {
	border: 2px solid #FCB800;
	border-radius: 5px;
	height: 100px;
	-ms-margin: 30px auto;
	margin: 30px auto;
	width: 1300px;
	position: relative;
	min-width: 1000px;
}

.lowerpannel nav ul {
	list-style-type: none;
	text-align: center;
	font-size: 18px;
	-ms-padding: 8px 0px 0px 0px;
	padding: 8px 0px 0px 0px;
}

.lowerpannel nav ul li {
	-ms-display: inline-block;
	display: inline-block;
	-ms-padding: 0px 35px;
	padding: 0px 35px;
	text-align: center;
	-ms-margin: 0px 8px;
	margin: 0px 8px;
}


.menu_image {
	height: 59px;
	-ms-display: table-cell;
	display: table-cell;
	vertical-align: middle;
}



.lowerpannel nav ul li a {
	text-align: center;
	-ms-text-decoration: none;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
	color: white;
}

#pizza div img:hover {
	-ms-background: url('../img/pizza2.png');
	-moz-background: url('../img/pizza2.png');
	background: url('../img/pizza2.png');
}


.clear {
	-ms-clear: both;
	-webkit-clear: both;
	clear: both;
}

/*Баннер */

.banner {
	width: 1400px;
	height: 550px;
	-ms-margin: 0px auto;
	margin: 0px auto;
	-ms-background: url('../img/pizza1.jpg') no-repeat;
	-moz-background: url('../img/pizza1.jpg') no-repeat;
	background: url('../img/pizza1.jpg') no-repeat;
	border: 1px solid black;
	position: relative;
}

.bazilik {
	position: absolute;
	top: -65px;
	left: -80px;
}

.text-banner, .text-banner-second {
	-ms-margin-top: 75px;
	margin-top: 75px;
	-ms-margin-left: 135px;
	margin-left: 135px; 
	
}

.text-banner p:not(:last-child) {
	font-size: 38px;
	color: #FCB800;
	letter-spacing: 2px;
	line-height: 55px;
}

.text-banner p:last-child {
	font-size: 25px;
	line-height: 50px;
}

.button-banner {
	-ms-margin: 45px 0px 0px 135px;
	margin: 45px 0px 0px 135px;
}

.button-banner button {
	-ms-background:  black;
	-moz-background:  black;
	background: black;
	text-transform: uppercase;
	height: 60px;
	border: 2px solid #FCB800;
	width: 190px;
	transition: all .3s;
	border-radius: 5px;
	font-size: 20px;
	color: white;
}

.button-banner button:hover {
	-ms-background:  #FCB800;
	-moz-background:  #FCB800;
	background: #FCB800;
	color: black;
	cursor: pointer;
}

.banner-second {
	width: 1400px;
	height: 550px;
	-ms-margin: 0px auto;
	-ms-margin-top: -35px;
	margin: 0px auto;
	margin-top: -35px;
	-ms-background: url(../img/баннер2.jpg);
	-moz-background: url(../img/баннер2.jpg);
	background: url(../img/баннер2.jpg);
	background-size: cover;
	-ms-margin-bottom: 140px;
	margin-bottom: 140px;
	border: 1px solid black;
}

.text-banner-second h1{
	color: #FCB800;
	font-size: 40px;
	letter-spacing: 5px;
	-ms-margin-bottom: 10px;
	margin-bottom: 10px;
}

.text-banner-second p {
	font-size: 25px;
	line-height: 30px;
	box-shadow: inherit 2px 2px 0px 3px #9D9E9D;
}

/* Content */

.content {
	width: 1155px;
	-ms-margin: 0px auto;
	margin: 0px auto;
	text-align: center;
	-ms-margin-top: 40px;
	margin-top: 40px;
	position: relative;
}

.content h2 {
	-ms-margin-bottom: 32px;
	margin-bottom: 32px;
	font-size: 37px;
	letter-spacing: 3px;
}

.info {
	width: 345px;
	-ms-margin-bottom: 45px;
	margin-bottom: 45px;
	-ms-background: black;
	-moz-background: black;
	background: black;
	border-radius: 5px;
	position: relative;
}

.info img {
	border-radius: 5px 5px 0px 0px;
	cursor: pointer;
}


.info p:not(:last-of-type) {
	-ms-margin-top: 15px;
	margin-top: 15px;
}

.info p:last-of-type {
	color: #FCB800;
	font-size: 25px;
	-ms-margin-bottom: 20px;
	margin-bottom: 20px;
}

.info button{
	width: 300px;
	height: 65px;
	border: 2px solid #FCB800;
	border-radius: 5px;
	-ms-background: black;
	-moz-background: black;
	background: black;
	font-size: 25px;
	-ms-margin-bottom: 10px;
	margin-bottom: 10px;
	transition: all .3s;
	color: white;
}

.info button:hover {
	-ms-background: #FCB800;
	-moz-background: #FCB800;
	background: #FCB800;
	color: black;
	cursor: pointer;
}

.info a {
	color: white;
	-ms-display: block;
	display: block;
	-ms-margin-bottom: 10px;
	margin-bottom: 10px;

}


.info a:hover {
	-ms-text-decoration: none;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
}


.content-left {
	-moz-float: left;
	-ms-float: left;
	float: left;
	position: relative;
}

.content-right {
	position: relative;
}

.info {
	position: relative;
}

.retractable {
	width: 345px;
	height: 0px;
	-ms-background: black;
	-moz-background: black;
	background: black;
	position: absolute;
	transition: all .5s;
	bottom: 0px;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
}

.info img:hover ~ .retractable {
	height: 220px;
}


.retractable h1 {
	-ms-margin-top: 10px;
	margin-top: 10px;
	font-size: 20px;
	color: #FCB800;
}

.retractable p {
	font-size: 15px;
}

.retractable p span {
	color: #FCB800;
}

.retractable p:last-child {
	font-size: 15px;
	color: white;
	line-height: 40px;
}
.content-right {
	-moz-float: right;
	-ms-float: right;
	float: right;
}

main {
	position: relative;
	-ms-margin: 0px 405px 50px 405px;
	margin: 0px 405px 50px 405px;
}


.watching-all {
	text-decoration-style: dashed;
	text-decoration-color:  #FCB800;
	font-size: 25px;
	-ms-display: block;
	display: block;
	-ms-margin-bottom: 95px;
	margin-bottom: 95px;
	color: white;
}

.watching-all:hover {
	-ms-text-decoration: none;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
}

.content h2:nth-child(2) {
	-ms-margin-top: 110px;
	margin-top: 110px;
}

/*Предметы на фоне */
.olives {
	position: absolute;
	top: -100px;
	z-index: -1;
	left: 190px;
}

.mushrooms {
	position: absolute;
	left: 120px;
	z-index: -1;
}

.flour {
	position: absolute;
	left: -420px;
	top: 200px;
	z-index: -1;
}

.salad {
	position: absolute;
	top: 150px;
	left: 350px;
	z-index: -1;
}

.salad-second {
	position: absolute;
	left: -400px;
	top: 200px;
	z-index: -1;
}

.spoon {
	position: absolute;
	left: 120px;
	top: -105px;
	z-index: -1;
}


/*Content after 2 banner`s */

.content-center {
	-ms-margin-top: -10px;
	margin-top: -10px;
	-ms-display: flex;
	display: flex;
	-ms-margin-bottom: 50px;
	margin-bottom: 50px;
}

.content-text {
	width: 470px;
	height: 415px;
	-ms-background: black;
	-moz-background: black;
	background: black;
	box-sizing: border-box;
	border-radius: 0px 5px 5px 0px;
}
.content-text div {
	text-align: left;
	-ms-margin: 100px 0px 0px 70px;
	margin: 100px 0px 0px 70px;
	font-size: 25px;
}

.content-text div p span {
	color: #FCB800;
	font-weight: bold;
}

.content-text div button {
	-ms-margin-top: 40px;
	margin-top: 40px;
	height: 60px;
	width: 300px;
	-ms-background: black;
	-moz-background: black;
	background: black;
	border: 2px solid #FCB800;
	font-size: 20px;
	border-radius: 5px;
	transition: all .3s;
	letter-spacing: 2px;
	color: white;
}

.content-text div button:hover {
	color: black;
	-ms-background: #FCB800;
	-moz-background: #FCB800;
	background: #FCB800;
	cursor: pointer;
}

.content-image {
	position: relative;
}
.pig {
	position: absolute;
	top: 20px;
	left: 20px;
}

/*footer*/

footer {
	-ms-margin: 0px auto;
	margin: 0px auto;
	-ms-margin-top: 250px;
	margin-top: 250px;
	width: 1400px;
	overflow: hidden;
	position: relative;
}

 .footer-contacts, .footer-worktime {
 	-moz-float: right;
	-ms-float: right;
	float: right;
}

.footer-menu, .payment-system {
	-moz-float: left;
	-ms-float: left;
	float: left;
}

.footer-logo {
	position: absolute;
	left: 640px;
}

.footer-menu {
	-ms-margin-right: 100px;
	margin-right: 100px;
}

.footer-menu nav ul {
	list-style-type: none;
}

.footer-menu nav ul li:not(:first-child){
	line-height: 30px;
}

.footer-menu nav ul li a:not(.active) {
	-ms-text-decoration: none;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
	font-size: 15px;
	transition: color .4s;
	color: white;
}


/*Разобраться с подчеркиванием */

.footer-menu nav ul li a:hover {
	color: #FCB800;
	-ms-text-decoration: underline;
	-moz-text-decoration: underline;
	-webkit-text-decoration: underline;
	-o-text-decoration: underline;
	text-decoration: underline;
}

.active {
	color: #FCB800;
	font-size: 15px;
	-ms-text-decoration: none;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
}

.footer-worktime {
	-ms-margin-left: 80px;
	margin-left: 80px;
}

.payment-system {
	font-size: 15px;
}

.payment-system p {
	-ms-margin: 0px 0px 20px 15px;
	margin: 0px 0px 20px 15px;
}

.payment-system div img{
	-ms-margin: 0px 0px 10px 15px;
	margin: 0px 0px 10px 15px;
}

.contacts-number p:first-child {
	color: #FCB800;
	font-size: 20px;
}

.contacts-number p, .contacts-country p, .worktime-time p, .worktime-address p:last-child {
	font-size: 15px;
	line-height: 25px;
}

.contacts-number, .worktime-time {
	-ms-margin-bottom: 25px;
	margin-bottom: 25px;
}

.contacts-country p span, .worktime-time p span {
	font-size: 20px;
	color: #FCB800;
}

.worktime-address p:first-child {
	color: #FCB800;
	font-size: 20px;
	line-height: 24px;
}

.social {
	position: absolute;
	left: 670px;
	top: 110px
}

.social img:first-child {
	-ms-margin-right: 10px;
	margin-right: 10px;
}

.footer-licence {
	width: 1400px;
	-ms-margin: 0px auto;
	margin: 0px auto;
	-ms-margin-top: 50px;
	margin-top: 50px;
	height: 60px;
}

.organization {
	-ms-float: left;
	-moz-float: left;
	float: left;
	font-size: 11px;
}

.licence {
	-ms-float: right;
	-moz-float: right;
	float: right;
	font-size: 11px;
	-ms-margin-top: 15px;
	margin-top: 15px;
}


